<div class="container">
    <!-- Título centralizado -->
    <div class="text-center p-4">
        <h1>BarAppWeb</h1>
    </div>
    <!-- Navegação -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" >Página Principal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Cadastro de Cliente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >Abrir Conta</a>
        </li>
    </ul>
</div>
